
em {
  color: red;
}
h1 {
  color: red;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

img {
  padding: 1em;
  border-radius: 0.8em;
}

.selected {
  background-color: green;
}
